.filter__container {
  padding: 6px 10px;
  margin: 4px 8px;
  border-radius: 8px;
  transition: all 300ms ease-out;
}

.filter__container:hover {
  background-color: var(--app-light-grape);
  transition: all 300ms ease-out;
}

.filter__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__title {
  font-weight: 500;
  font-size: 12px;
  color: var(--app-black);
  margin: 2px 0;
}

.filter__remove {
  margin-top: 2px !important;
  padding: 2px !important;
  min-width: 0 !important;
  border-radius: 5px !important;
  color: var(--app-black) !important;
  min-width: 0 !important;
  margin-left: 8px !important;
  transition: all 300ms ease-out !important;
}

.filter__remove:hover {
  background-color: var(--app-grape) !important;
  transition: all 300ms ease-out !important;
}

.filter__remove>.MuiSvgIcon-root {
  font-size: 12px;
}

.filter__choices {
  margin: 4px 16px 0 6px;
  display: flex;
  flex-direction: row !important;
  /* justify-content: space-between; */
}

.filter__choices>.MuiFormControlLabel-root {
  margin: 0 30px 0 0;
}

.filter__choices>.MuiFormControlLabel-root>.MuiRadio-root {
  padding: 0 5px 0 0;
  color: var(--app-blueberry);
}

.filter__choices>.MuiFormControlLabel-root>.MuiFormControlLabel-label {
  align-items: center;
  display: flex;
}

.filter__choices>.MuiFormControlLabel-root>.filter__ensure {
  color: rgb(0, 255, 213);
}

.filter__choices>.MuiFormControlLabel-root>.filter__not-ensure {
  color: rgb(233, 44, 30);
}

.filter__choices>.MuiFormControlLabel-root>.filter__ensure>.MuiSvgIcon-root,
.filter__choices>.MuiFormControlLabel-root>.filter__not-ensure>.MuiSvgIcon-root {
  font-size: 20px;
}