.home {
  flex: 1;
  min-width: max-content;
  overflow-y: scroll;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--app-coconut);
  display: flex;
}

.home__filter__table {
  width: 230px;
  height: fit-content;
  min-height: 180px;
  max-height: 70vh;
  overflow-y: scroll;
  margin: 20px 0;
  margin-right: 30px;
  border-radius: 8px;
  box-shadow: var(--app-shadow-dark) 1px 2px 7px 0.5px;
  padding: 0 0 16px;
  background-color: var(--app-white);
  transform: translateY(-600px);
  transition: all .5s ease-in;
}

.home__filter__table--active {
  transform: translateY(0);
  transition: all .5s ease-out;
  transition-delay: .3s;
}

.home__filter__table>div>h2 {
  font-weight: 500;
  font-size: 26px;
  padding: 10px 0 9px;
  color: var(--app-black);
  margin-left: 16px;
  margin-right: 16px;
}

.home__filter__table__header {
  box-shadow: var(--app-shadow-dark) 1px 2px 7px 0.5px;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--app-white);
  padding-top: 16px;
  padding-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home_filter_body {
  margin: 10px 0 0;
}

.home__change__filter__type,
.home__clear__filter {
  border-radius: 8px !important;
  min-width: 0 !important;
  border: 1.5px solid var(--app-grape) !important;
  color: var(--app-blackberry) !important;
  padding: 4px 6px !important;
  margin-right: 8px !important;
  box-shadow: var(--app-shadow) 1.95px 1.95px 2.6px !important;
  transition: background-color .4s ease-out;
}

.home__change__filter__type {
  margin-right: 4px !important;
}

.home__change__filter__type:hover,
.home__clear__filter:hover {
  background-color: var(--app-grape) !important;
  transition: background-color .5s ease-out;
}

.home__change__filter__type>.MuiSvgIcon-root,
.home__clear__filter>.MuiSvgIcon-root {
  font-size: 20px
}

.home__business__type__filter {
  padding: 6px 10px;
  margin: 4px 8px;
  border-radius: 8px;
  transition: all 300ms ease-out;
}

.home__business__type__filter:hover {
  background-color: var(--app-light-grape);
  transition: all 300ms ease-out;
}

.home__business__type__filter>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__remove {
  margin-top: 2px !important;
  padding: 2px !important;
  min-width: 0 !important;
  border-radius: 5px !important;
  color: var(--app-black) !important;
  min-width: 0 !important;
  margin-left: 8px !important;
  transition: all 300ms ease-out !important;
}

.home__remove:hover {
  background-color: var(--app-grape) !important;
  transition: all 300ms ease-out !important;
}

.home__remove>.MuiSvgIcon-root {
  font-size: 12px;
}

.home__business__type__filter h2 {
  color: var(--app-black);
  font-weight: 500;
  font-size: 12px;
  margin: 2px 0 4px;
}

.home__business__type__filter>.MuiFormControlLabel-root {
  margin: 2px 30px 0 6px;
}

.home__business__type__filter>.MuiFormControlLabel-root>.MuiCheckbox-root {
  padding: 0 5px 0 0;
  color: var(--app-blueberry);
}

.home__business__type__filter>.MuiFormControlLabel-root>.MuiFormControlLabel-label {
  font-size: 12px;
  color: var(--app-blackberry);
}

.home__filter__type__text {
  color: var(--app-blueberry);
  text-align: center;
}

.home__calendar_btn {
  font-size: 11px !important;
  min-width: max-content !important;
  color: var(--app-black) !important;
  padding: 2px 6px !important;
  margin: 4px 0 !important;
  text-transform: none !important;
  border-radius: 4px !important;
  border: 1.5px solid var(--app-blueberry) !important;
  box-shadow: var(--app-shadow-light) 0px 2px 7px -3px;
}

.home__content {
  margin-left: -260px;
  flex: 1;
  z-index: 99;
  transition: all .5s ease-out;
  transition-delay: .45s;
}

.home__content--collapse {
  margin-left: 0;
  transition: all .5s ease-out;
}

.home__header {
  padding-bottom: 16px;
}

.home__header>div>h2 {
  font-weight: 500;
  font-size: 26px;
  padding: 24px 12px 20px;
  color: var(--app-black);
}

.home__widget {
  display: flex;
  justify-content: space-between;
}

.home__widget--left {
  display: flex;
}

.home__search {
  display: flex;
  align-items: center;
  background-color: var(--app-light-gray);
  border-radius: 8px;
  color: var(--app-blackberry);
  font-weight: 500;
  font-size: 12px;
  padding: 0 6px;
  margin-right: 10px;
}



/* Autocomplete */
.home_search_auto * {
  border: 0 !important;
  color: var(--app-blackberry) !important;
}

.MuiAutocomplete-popper * {
  font-size: 12px !important;
  background-color: var(--app-white) !important;
  color: var(--app-blackberry) !important;
  transition: background-color 150ms ease-out;
}

.MuiAutocomplete-popper li:hover {
  background-color: var(--app-light-grape) !important;
  transition: background-color 100ms ease-out;
}

.home_search_auto label {
  display: none !important;
}

.home_search_auto .MuiInputBase-input {
  font-size: 14px !important;
  background-color: var(--app-light-gray) !important;
  margin-right: 24px !important;
}





.home__search__button {
  border-radius: 8px !important;
  color: var(--app-blackberry) !important;
  padding: 4px 6px !important;
  margin: 0 !important;
  min-width: 0 !important;
  transition: background-color .4s ease-out;
}

.home__search__button:hover {
  background-color: var(--app-grape) !important;
  transition: background-color .4s ease-out;
}

.home__search__button>.MuiSvgIcon-root {
  font-size: 20px;
}

.home__filter>.MuiSvgIcon-root,
.home__add>.MuiSvgIcon-root,
.home__submit__filter>.MuiSvgIcon-root {
  padding-right: 6px;
  font-size: 20px;
}

.home__filter {
  border-radius: 8px !important;
  border: 1.5px solid var(--app-grape) !important;
  color: var(--app-blackberry) !important;
  text-transform: none !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  padding: 8px 24px 8px 20px !important;
  margin-right: 10px !important;
  box-shadow: var(--app-shadow) 1.95px 1.95px 2.6px !important;
}

.home__filter:hover {
  background-color: var(--app-grape) !important;
}

.home__submit__filter__wrapper {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  margin-top: 14px;
  margin-right: 8px;
}

.home__add,
.home__submit__filter {
  background-color: var(--app-blueberry) !important;
  border-radius: 8px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: var(--app-white) !important;
  text-transform: none !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  padding: 8px 24px 8px 20px !important;
  box-shadow: var(--app-shadow) 0px 6px 12px -2px, var(--app-shadow-light) 0px 3px 7px -3px;
}

.home__add:hover,
.home__submit__filter:hover {
  background-color: var(--app-blueberry-hover) !important;
}

.home__table {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 320px;
  border-radius: 8px;
  box-shadow: var(--app-shadow) 0px 4px 15px 5px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.home__table::-webkit-scrollbar,
.home::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.home__table,
.home {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.home__table>table {
  border-collapse: collapse;
  cursor: pointer;
  margin-bottom: 12px;
  width: 100%;
}

.home__table__header {
  text-transform: uppercase;
  background-color: var(--app-grape);
  text-align: start;
  position: sticky;
  top: 0;
  z-index: 10;
}

.home__table__header>tr>th,
.home__table__body>tr>td {
  text-align: start;
  padding: 12px 20px 12px 12px;
  color: var(--app-blackberry);
  min-width: max-content;
  font-size: 12px;
  max-width: 200px;
}

.home__table__body td>span {
  background-color: var(--app-grape);
  border-radius: 6px;
  padding: 6px 4px 6px 8px;
  margin: 0 2px;
}

.home__table__body td>span>.ensure {
  color: rgb(0, 255, 213);
  font-size: 22px;
  margin: 0 2px -6px 0;
}

.home__table__body td>span>.not_ensure {
  color: rgb(233, 44, 30);
  font-size: 20px;
  margin: 0 2px -6px 0;
}

.home__table__header>tr>th>span {
  font-weight: 600;
}

.home__table__body {
  background-color: var(--app-light-grape);
}

.home__table__body>tr {
  background-color: var(--app-coconut);
  transform: translateX(0);
  transition: all 300ms ease-out;
}

.home__table__body>tr:hover {
  color: var(--app-black);
  background-color: var(--app-light-grape);
  transform: translateX(10px);
  transition: all 300ms ease-out;
}

.home__name__wrapper {
  display: flex;
  align-items: center;
}

.home__name__wrapper>p>span,
.home__number__wrapper>p>span {
  background-color: #e4defb;
  color: #000;
}

.home__avatar {
  width: 30px !important;
  height: 30px !important;
  margin-right: 8px !important;
}

.home__business__type1,
.home__business__type2 {
  display: inline-block;
  text-align: center;
  background-color: #ffdee6;
  border-radius: 30px;
  padding: 4px 12px;
  text-transform: uppercase;
  color: #7d114a;
  margin: 0 4px 2px 0;
}

.home__business__type2 {
  background-color: #fceacd;
  color: #d79748;
}

.home__edit,
.home__print {
  background-color: #edf8f8 !important;
  padding: 4px !important;
  border-radius: 8px !important;
  color: #4b9470 !important;
  min-width: 0 !important;
}

.home__edit:hover {
  background-color: #cff7e4 !important;
}

.home__print {
  background-color: #f4edf8 !important;
  color: #6c4b94 !important;
}

.home__print:hover {
  background-color: #e4defb !important;
}

.home__table__body>tr>td:nth-last-child(2) {
  padding: 0 8px 0 0;
}

.home__table__body>tr>td:nth-last-child(1) {
  padding: 0 24px 0 0;
}




/* Home pagination */
.home_pagination_wrapper {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.home_pagination_wrapper>h2 {
  color: var(--app-blueberry);
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  margin-left: 20px;
}

.home__pagination>ul>li>.MuiPaginationItem-root {
  color: var(--app-black);
}

.home__pagination>ul>li>.Mui-selected {
  color: #fff;
}




/* Detail Criteria */
.home_detail_criteria {
  padding: 15px 20px;
  background-color: var(--app-white);
  width: max-content;
  max-width: 90vw;
  min-width: min-content;
  max-height: 60vh;
  height: max-content;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 12px;
  box-shadow: var(--app-shadow-dark) 0px 0px 16px 1px;
  overflow-y: scroll;
}

.home_detail_criteria>h2 {
  color: var(--app-black);
  font-size: 24px;
  font-weight: 600;
}

.home_detail_criteria>div {
  margin-top: 10px;
}

.home_detail_criteria td {
  padding: 4px;
  font-size: 12px;
  color: var(--app-gray);
  padding-right: 30px;
}

.home_detail_criteria td:first-child {
  font-weight: 600;
}

.home_detail_criteria .ensure {
  color: rgb(0, 255, 213);
  font-size: 22px;
  margin: 0 2px -6px 4px;
}

.home_detail_criteria .not_ensure {
  color: rgb(233, 44, 30);
  font-size: 20px;
  margin: 0 0px -6px 4px;
}






/* Pdf */
.cer_box_wrapper {
  height: 330px;
  width: 250px;
  margin: 0 auto;
  /* padding-bottom: 80px; */
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 6px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.cer_box {
  padding: 30px;
  /* width: 100%; */
}

.cer_box table {
  width: 100%;
}

.cer_box td {
  /* width: max-content; */
}

.cer_box .title {
  text-align: center;
  font-weight: bold;
  padding: 5px 5px;
}

.cer_box #kyten {
  text-align: center;
}

.cer_box #dam {
  font-weight: bold;
  /* width: min-content; */
}

.cer_box #nghieng {
  font-style: italic;
}