.login {
  background-color: var(--app-coconut);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.login__container {
  border-radius: 8px;
  box-shadow: var(--app-shadow-dark) 0px 18px 50px -10px;
  display: flex;
  width: 75vw;
}

.login__left {
  flex: 1;
  padding: 120px 100px;
  text-align: center;
}

.login__left>h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  color: var(--app-black);
}

.login__textfield {
  margin-bottom: 20px !important;
  background-color: var(--app-coconut) !important;
}

.login__textfield__input {
  color: var(--app-black) !important;
  font-size: 14px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.login__button__container {
  display: flex;
  justify-content: flex-end;
}

.login__button {
  background-color: var(--app-blueberry) !important;
  border-radius: 8px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: var(--app-white) !important;
  text-transform: none !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  padding: 6px 32px 6px 32px !important;
  box-shadow: var(--app-shadow) 0px 6px 12px -2px, var(--app-shadow-light) 0px 3px 7px -3px;
}

.login__right__container {
  flex: 1;
  background-color: var(--app-grape);
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 100px;
}

.login__right>.MuiSvgIcon-root {
  font-size: 48px !important;
}

.login__right>h1 {
  margin-top: 4px;
  font-size: 26px;
  font-weight: 400;
  text-transform: capitalize;
}

.login__right>p {
  margin-top: 16px;
  margin-bottom: 50px;
  font-size: 14px;
  font-weight: 300;
}