.settings {
  flex: 1;
  min-width: max-content;
  overflow: hidden;
  padding-left: 42px;
  padding-right: 42px;
  margin-left: auto;
  margin-right: auto;
  height: 90vh;
  background-color: var(--app-coconut);
}

.settings__header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--app-coconut);
  padding-bottom: 16px;
}

.settings_wrapper {
  display: flex;
  flex-direction: column;
}

.settings_wrapper>.settings__darkMode {
  margin-left: -6px;
  margin-bottom: 16px;
}

.settings_wrapper>h2 {
  font-weight: 500;
  font-size: 26px;
  padding: 24px 0 20px;
  color: var(--app-black);
}

.setting_logout {
  width: fit-content;
}